body{
    color: white;
}
nav, header,.contenedor,footer{
  max-width: 92%;
    margin: auto;
}
header img{
  max-width: 100%; margin-top: 10px;margin-bottom: none;
}
nav{
    background-color: yellowgreen;
    text-align: center;
}
header{
    text-align: center;color: black;
}
h1{
  font-size: 50px;color: #005883;margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor{
    background-color: #005883;
}
.central{
    background-color: none; display: inline-block;
    max-width: 60%;margin-left: 25px;
}
footer{
    background-color: #005883
}
aside{
    background-color: none;
    display: inline-block;
<<<<<<< HEAD
    max-width: 27%; margin-left: 7em;
    align:right;
=======
    max-width: 27%; margin-left: 30px;
>>>>>>> ba2b3ddf1e201eb4f2549ccd22ce888550da2bb4
}
.menu li{
    display: inline-block;
}
li a, boton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em  1em;
}
.listaDesplegable{
    display: none;
    background-color: yellowgreen;
    position: absolute;
}
.listaDesplegable a{
color: black;
display: block;
text-align: left;
}
.boton:hover .listaDesplegable{
display: block;
}
li a:hover{
    background-color: cadetblue;
}

div.autor1 {
    width: 400px;
    margin: 10px auto;
    background-color: #449;
    color: #fff;
    padding: 10px;
  
 }
  
div.autor2 {
    width: 400px;
    margin: 10px auto;
    background-color:red;
    color: #fff;
    padding: 10px;
  
}

div.autor3 {
    width: 400px;
    margin: 10px auto;
    background-color:  orange;
    color: #fff;
    padding: 10px;
    float: initial;
}

div.autor4 {
    width: 400px;
    margin: 10px auto;
    background-color: green;
    color: #fff;
    padding: 10px;
}

div.twitter2 {
    width: 300px;
    margin: 10px auto;
    background-color: green;
    color: #fff;
    padding: 10px;
}
