body{
    color: white;
}
nav, header,.contenedor,footer{
    
  max-width: 92%;
    margin: auto;
}
nav{
    background-color: yellowgreen;
    text-align: center;

    
}
header{
    background-color: #005883;
}
.contenedor{
    background-color: tomato;
}
.central{
    background-color: orange;
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: #005883
}
aside{
    background-color: darkgrey;
    display: inline-block;
    max-width: 27%;
}
.menu li{
    display: inline-block;
}
li a, boton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em  1em;
}
.listaDesplegable{
    display: none;
    background-color: aqua;
    position: absolute;
}
.listaDesplegable a{
color: blue;
display: block;
text-align: left;
}
.boton:hover .listaDesplegable{
display: block;
}
li a:hover{
    background-color: cadetblue;
}