body{
    color: white;
}
nav, header,.contenedor,footer{
  max-width: 92%;
    margin: auto;
}
header img{
  max-width: 100%; margin-top: 10px;margin-bottom: none;
}
nav{
    background-color: yellowgreen;
    text-align: center;
}
header{
    text-align: center;color: black;
}
h1{
  font-size: 50px;color: #005883;margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor{
    background-color: #005883;
}
.central{
    background-color: none; display: inline-block;
    vertical-align: top;
    width: 70%;
}
footer{
    text-align: center;
    background-color: #005883
}
aside{
    background-color: none;
    display: inline-block;
    width: 28%;
    vertical-align: top;
  }
.menu li{
    display: inline-block;
}
li a, boton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em  1em;
}
.listaDesplegable{
    display: none;
    background-color: yellowgreen;
    position: absolute;
}
.listaDesplegable a{
color: black;
display: block;
text-align: left;
}
.boton:hover .listaDesplegable{
display: block;
}
li a:hover{
    background-color: cadetblue;
}

div.autor1 {
    color: #fff;
 }

div.autor2 {
    color: #fff;
}

div.autor3 {
    color: #fff;
}

div.autor4 {
    color: #fff;
}
