body{
    color: white;
}
nav, header,.contenedor,footer{
  max-width: 92%;
    margin: auto;
    border-radius: 0.5em;
}
header img{
  max-width: 100%; margin-top: 10px;margin-bottom: none;
}
nav{
    background-color: #F0B429;
    text-align: center;
    
}
header{
    text-align: center;color: black;
}
h1{
  font-size: 50px;color:#005883;margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor{
    background-color:#005883;
}
.central{
    background-color: none; display: inline-block;
    vertical-align: top;
    width: 70%;
}
footer{
    text-align: center;
    background-color:#005883;
}
aside{
    background-color: #005883;
    display: inline-block;
    width: 28%;
    vertical-align: top;
  }
.menu li{
    display: inline-block;
    border-radius: 0.5em;

}
li a, boton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.9em  1em;
    border-radius: 0.5em;

}
.listaDesplegable{
    display: none;
    background-color:#F0B429 ;
    position: absolute;
    border-radius: 0.5em;

}
.listaDesplegable a{
color: black;
display: block;
text-align: left;
border-radius: 0.5em;

}
.boton:hover .listaDesplegable{
display: block;
border-radius: 0.5em;

}
li a:hover{
    background-color: #F47920 ;
    border-radius: 0.5em;

}

div.autor1 {
    color: #fff;
 }

div.autor2 {
    color: #fff;
}

div.autor3 {
    color: #fff;
}

div.autor4 {
    color: #fff;
}

/** SOPA **/

p {
  font: 22pt sans-serif;
  margin: 20px 20px 0px 20px;
}

/**
* Styles for the puzzle
*/
#juego {
  border: 1px solid black;
  padding: 20px;
  float: left;
  margin: 30px 20px;
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
#juego .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  font: 1em sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#juego .selected {
  background-color: orange;
}

/* indicates that the square is part of a word that has been found */ 
#juego .found {
  background-color: blue;
  color: white;
}

#juego .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
#juego .complete {
  background-color: green;
}


#Palabras {
        padding-top: 21px;
}
#Palabras ul {
  list-style-type: none;
}

#Palabras li {
  padding: 3px 0;
  font: 1em sans-serif;
}

/* indicates that the word has been found */
#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}
